<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE GENERATOR</title>
</head>
<body>
    <h1>WELCOME TO QR CODE GENERATOR</h1>
    <form method ="post">
        <input type="text" name="qr" placeholder="ENTER THE TEXT">
        <button type="submit">SUBMIT</button>
    </form>
    <br>
    <br>
    <img src="<%= imageUrl %>" alt="QR CODE">
    
</body>
</html>